<meta name="google-site-verification" content="R_CNnglyJ8IadsmNrzQGkIY4KcxhcasItmaioKmW6eo" />
{% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
        gtag('consent', 'default', {
            'ad_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied',
            'analytics_storage': 'denied'
        });
    </script>
{% endif %}
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    var klaroConfig = {
        services: [
            {
                default: true,
                name: 'google-analytics',
                title: 'Google Analytics',
                purposes: ['analytics'],
                cookies: [/^_ga/],
                callback: function(consent) {
                    gtag("consent", "update", {
                        analytics_storage: consent ? "granted" : "denied",
                        ad_storage: "denied",
                        ad_user_data: "denied",
                        ad_personalization: "denied"
                    });
                },
            },
        ],
        callback: function(consent, service) {
            console.log(
                'User consent for service ' + service.name + ': consent=' + consent
            );
            service === 'google-analytics'  && gtag("consent", "update", {
                analytics_storage: consent ? "granted" : "denied",
                ad_storage: "denied",
                ad_user_data: "denied",
                ad_personalization: "denied"
            });
        },
    };
</script>
<script defer async data-config="klaroConfig" type="application/javascript" src="https://cdn.kiprotect.com/klaro/v0.7/klaro.js"></script>
<link rel="stylesheet" href="https://cdn.kiprotect.com/klaro/v0.7/klaro.min.css">